<!DOCTYPE html>
<html>
  <head>
    <title>Tweet Visualizer</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
   {% load static %}
   <link rel="stylesheet" href="{% static 'login/style.css' %}">
  </head>
  <body>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFs86uQe3UfAhBZlew9SzZ1QzoTYUeU-s&callback=initMap"></script>
     <div class="container">
        <nav class="navbar navbar-default">
           <h1>Neighborhood</h1>
        </nav>
        <div>
          {% if user and not user.is_anonymous %}
             <p class="splash col-md-9">Hello {{ user.get_full_name|default:user.username }}!</p>
          {% endif %}
      </div>
        <div id="map"></div>
      </div>
      <a href="{% url 'logout_view' %}">Logout</a>
      <script>
      var map;
      if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function (position) {
            initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(initialLocation);
         });
      }
      function initMap() {
        var mapOptions = {
           zoom: 13,
           center: {lat: 47.60994, lng: -122.19666},
           mapTypeId: google.maps.MapTypeId.TERRAIN,
           // heading: 00,
           // tilt: 60
        };
         map = new google.maps.Map(document.getElementById('map'), mapOptions);
         function createNewMarker(latitud, longitud, color){
            var marker = new google.maps.Marker({
            position: {lat: latitud, lng: longitud},
            icon: new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + color),
            clickable: true,
            draggable: false,
            animation:google.maps.Animation.DROP,
            map: map

          });
       }
		{% if user and not user.is_anonymous %}
			{% for tweet in tweets %}
				{% if tweet.coordinates.coordinates %}
					var zlong = {{tweet.coordinates.coordinates}}[0];
					var zlat = {{tweet.coordinates.coordinates}}[1];
					createNewMarker(zlat, zlong, "FE7569");
				{% endif %}
			{% endfor %}
			{% for tweet in user_tweets %}
				{% if tweet.coordinates.coordinates %}
					console.log("user tweet");
					var zlong = {{tweet.coordinates.coordinates}}[0];
					var zlat = {{tweet.coordinates.coordinates}}[1];
					createNewMarker(zlat, zlong, "39d244");
				{% endif %}
			{% endfor %}
		{% endif %}

         map.set('styles', [
         {
         featureType: 'road',
         elementType: 'geometry',
         stylers: [
          { color: '#994d4d' },
          { weight: 0.12 }
         ]
         }, {
         featureType: 'road',
         elementType: 'labels',
         stylers: [
          { color: '#ddddd' },
          { saturation: -70 },
          { invert_lightness: false }
         ]
         }, {
         featureType: 'landscape',
         elementType: 'geometry',
         stylers: [
          { hue: '#f99f00' },
          { gamma: 90 },
          { saturation: 82 },
          { lightness: 96 }
         ]
         }, {
         featureType: 'poi.school',
         elementType: 'geometry',
         stylers: [
          { hue: '#fff700' },
          { lightness: -15 },
          { saturation: 69 }
         ]
         }, {
         featureType: 'landscape.natural',
         elementType: 'labels',
         stylers: [
          { color: '#ddddd' },
          { saturation: 70 },
          { weight: 3.1 },
          { invert_lightness: false }
          ]
         }
         ]);
      }
    </script>
  </body>
</html>
