{% extends 'login/base.html' %}

{% block main %}
 <div>
 <h1>Third-party authentication demo</h1>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'logout_view' %}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %} dashboard">Login with Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ 'dashboard' }}">Login with Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ 'dashboard' }}">Login with Twitter</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'instagram' %}?next={{ 'dashboard' }}">Login with Instagram</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}
